<div class="callout callout--primary">
  <div class="grid grid1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
        magnam molestias ex praesentium expedita deleniti aut fuga excepturi
        cumque aperiam doloribus, deserunt cupiditate quod reprehenderit!
      </p>
    </div>
    <div class="callout--button">
      <a href="#" class="btn btn--secondary"> Get started</a>
    </div>
  </div>
</div>
