<div class="card testimonial">
  <div class="grid grid1x2">
    <div class="testimonial__image">
      <img
        class="testimonial__image"
        src="images/testimonial.jpg"
        alt=" a happy smiling customer"
      />
      <span class="icon-container icon__container__accent">
        <svg class="icon--small icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere in
        doloribus, dolore non quibusdam ut voluptatum quo necessitatibus modi?
        Facere?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__object">
            <h3 class="media__title quote__author">Mark tibbery</h3>
            <p class="quote__company">Kaleab company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
